.card {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 220px;
    text-align: center;
    font-family: arial;
    margin: 10px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    border-top:2px solid #4ea4f5;
    transition: 0.8s;
  }

 
.product-image-area{
  width: 100%;
  height: 110px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.product-image{
  width: 95%;
  border-radius: 6px;
  margin: 5px;
}

.advert-detail-button{
  position: absolute;
  bottom: -15px;
  background-color: #1890FF;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.advert-detail-button:hover{
  background-color: #4ea4f5;
}
.product-data-area{
  width: 100%;
  height: 80px;
  margin-top: 20px;
}
.product-name-text{
  font-weight: bold;
  color: rgb(77, 63, 63);
  font-size: 20px;
}

.product-price{
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}