.advert-detail-page-component {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-detail-area{
  width: 85%;
  height: 550px;
  display: flex;
  flex-direction: column;
}

.images-and-price-card{
  width: 100%;
  height: 100%;
  display: flex;
  margin: 20px;
}
.images-slideshow{
  display: flex;
  width: 40%;
  flex-direction: column;
}

.images-slideshow .single-images {
  width: 100%;
  height: 75%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-images .singleImage{
  max-width: 100%;
  height: 300px;
  border-radius: 4px;

}
.all-images-slide {

  position: relative;
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  overflow-x: scroll;
}

.all-images-slide-image{
  width:15%;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;

}
.slideshow-single-image{
  width: 100%;
  height: 100%;
}

.slidecontrolbutton{
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 36px;
  background: none;
  font-size: 18px;
  color: white;
  outline: none;
  border: none;
  background-color: rgb(65, 60, 60);
  border-radius: 100%;
}
#previous{
  left: 0px;
  top: 45%;
}
#next{
  right: 0px;
  top: 45%;
}

.product-price-card{
  width: 55%;
  min-height: 400px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.product-price-information {
  background-color: #F2F2F2;
  width: 100%;
  border-radius: 12px;
  height: 50%;
  padding: 10px;
}
.product-seller-information {
  width: 100%;
  height: 50%;
  margin-top: 20px;
}
.product-title-information{
  color: #6C6666;
  font-size: 28px;
  padding-left: 20px;
}
.product-price-text{
  color: #C65431;
  padding-left: 20px;
}

.advert-actions {
  display: flex;
  align-items: center;
  position: relative;
  top: 20px;
  left: 20px;

}
.teklifButton{
  position: relative;
}


.product-seller-information-title{
  color: #6C6666;
  font-size: 18px;
  margin: 10px;
  padding-left: 20px;
}
.product-seller-information-area{
  padding-left: 30px;
}

.seller-section{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.sendMailButton{
  background-color: #C65431;
  border-color: #C65431;
  transition: 0.4s;
  margin-bottom: 10px;
}
.sendMailButton:hover{
  background-color: #ce6d4f;
  border-color: #C65431;

}
.sendMailButton:focus{
  background-color: #ce6d4f;
  border-color: #C65431;
}
.seller-actions{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.properties-area{
  width: 80%;
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.backgroundOrange{
  background-color: #ce6d4f;
}

@media only screen and (max-width: 600px) {
  .images-slideshow{
    width: 100%;
  }
  .images-and-price-card{
    margin: 0px;
    width: 100%;
    flex-direction: column;


  }
  .product-price-card{
    width: 100%;
    margin-top: 20px;
    margin-left: 0px;
    height: 600px;


  }

  .seller-section{
    flex-direction: column;
    align-items: flex-start;
  }
  .properties-area{
    margin-top: 500px;
  }
}
