.main-component{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: calc(100% - 260px);
    top: 60px;
    left: 260px;

}

.component-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

}

.component-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    

}

@media only screen and (max-width: 600px) {
    .main-component{
        left: 30px;
        width: calc(100%);
    }
}