.main-component{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: calc(100% - 260px);
    top: 60px;
    left: 260px;
    

}

.component-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 10px 20px;

}
.searchbar-area {
    width: 450px;
    display: flex;
}
.component-section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    

}
.not-found-product-search-result{
    width: 100%;
    height: 150px;
    text-align:center;
    padding-top: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .main-component{
        left: 30px;
        width: calc(100%);
    }
    .component-top{
        flex-direction: column;
        width: 100%;
        padding: 0 0;
    }
}