.new-advert-component {
    width: 100%;
    position: absolute;
    min-height: 100%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.new-advert-form{
    width: 76%;
    position: absolute;
    min-height: 80%;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 20px;
    padding-right: 20px;
}
.steps-content {
    width: 100%;
    margin-top: 5px;
    min-height: 85%;


}
.steps-action{
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.select-category-step-component {
    min-width: 100%;
    min-height: 70%;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
.single-category-list {
    width: 100%;
}

.category-cascader{
    width: 100%;
}
.loading-categories{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.loading-categories small {
    font-size: 12px;
}
.advert-detail-component {
    margin-top: 40px;
    width: 100%;
    min-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advert-detail-form{
    width: 65%;
}

.advert-adress-detail-form{
    width: 65%;
}

.publishing-component{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.publishing-form{
    width: 65%;

}